body {
    margin: 0;
    width: 100%;
}

#scene {
    position: relative;
    width: 100vw;
    height: 56vw;

    margin: 0 auto;
    overflow: hidden;
}

.scene_flash {
    animation-name: scene_flash_kf;
    animation-iteration-count: 1;
    animation-duration: 1s;
}
@keyframes scene_flash_kf {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

#sky {
    background-image: url(sky.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80vw;
    height: 80vw;
    position: absolute;
    left: 8vw;
    top: 3vw;
    z-index: 2;

    animation-name: sky_kf;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes sky_kf {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-100vw);
    }
}

#baggrund-01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(baggrund-01.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}

#traer {
    background-image: url(traer.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35vw;
    height: 45vw;
    position: absolute;
    right: -4.3vw;
    top: 6.2vw;
    z-index: 3;
}

#forgrund-01 {
    position: absolute;
    top: 44vw;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(forgrund-01.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 7;
}

#game_over {
    background-image: url(gamer_over_skilt.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 40vw;
    position: absolute;
    left: 29vw;
    top: 0vw;
    z-index: 8;
    display: none;
}

#you_win {
    background-image: url(you_win_skilt.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 40vw;
    position: absolute;
    left: 29vw;
    top: -2vw;
    z-index: 8;
    display: none;
}
#valg_random {
      background-image: url(valg_random_skilt-01.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80vw;
    height: 80vw;
    position: absolute;
    left: 30vw;
    top: -10vw;
    z-index: 8;
    display: none;
    cursor: pointer;
}

#stol {
    background-image: url(stol.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10vw;
    height: 10vw;
    position: absolute;
    right: 25vw;
    bottom: 11vw;
    z-index: 4;

}

#madkurv_2 {
    background-image: url(madkurv_2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 6vw;
    position: absolute;
    right: 40vw;
    bottom: 7vw;
    z-index: 5;

}
#madkurv_taeppe {
    background-image: url(madkurv_taeppe2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10vw;
    height: 10vw;
    position: absolute;
    right: 38vw;
    bottom: 0.6vw;
    z-index: 5;

}
#glas_madkurv {
    background-image: url(glas_madkurv.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2.3vw;
    height: 3.5vw;
    position: absolute;
    right: 44vw;
    bottom: 6vw;
    z-index: 7;

}

#grill {
    background-image: url(grill.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10vw;
    height: 10vw;
    position: absolute;
    right: 27vw;
    bottom: 1vw;
    z-index: 6;
}

#valg_1_stjaelmaden {
    background-image: url(Valg_1_stj%C3%A6lmaden.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 40vw;
    position: absolute;
    left: 29vw;
    top: 2vw;
    z-index: 5;
    pointer-events: none;
}
#valg_1_stjaelmaden_ja {
     background-image: url(Valg_1_stj%C3%A6lmaden_ja.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 7vw;
    height: 18vw;
    position: absolute;
    left: 33vw;
    top: 17vw;
    z-index: 4;
    cursor: pointer;
}

#valg_1_stjaelmaden_nej {
     background-image: url(Valg_1_stj%C3%A6lmaden_nej.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 8vw;
    height: 19vw;
    position: absolute;
    left: 53vw;
    top: 18vw;
    z-index: 4;
    cursor: pointer;
}

#notforyou_boble {
     background-image: url(notforyou_boble.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 29vw;
    height: 7vw;
    position: absolute;
    right: 9vw;
    bottom: 20vw;
    z-index: 8;
    display: none;
}

#food_boble {
    background-image: url(food_boble-02.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 29vw;
    height: 7vw;
    position: absolute;
    left: 12vw;
    bottom: 20vw;
    z-index: 8;
    display: none;
}
#ihaveanidea_boble {
     background-image: url(ihaveanidea_boble.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 29vw;
    height: 7vw;
    position: absolute;
    right: 9vw;
    bottom: 20vw;
    z-index: 8;
    display: none;
}

.valg1_usynlig {
    opacity: 0;
}
.valg1_synlig {
    animation-name: valg_synlig_kf;
    animation-iteration-count: 1;
    animation-duration: 1s;
}
@keyframes valg_synlig_kf {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

#mand_container {
    position: absolute;
    z-index: 5;
}

#mand_sprite {
    background-image: url(man_sprite2-01.svg);
    background-size: 800% 400%;
    width: 18vw;
    height: 22.5vw;

}

#chicken_container {
    position: absolute;
    z-index: 5;

}

#chicken_sprite {
    background-image: url(chicken_sprite.svg);
    background-size: 800% 300%;
    width: 7vw;
    height: 10vw;

}

#munchie_container {
    position: absolute;
    z-index: 6;
}

#munchie_sprite {
    background-image: url(munchie_walk_4-02-01-01.svg);
    background-size: 800% 500%;
    width: 9vw;
    height: 13vw;

}

.chicken_jumps {
    animation-name: chicken_jumps_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes chicken_jumps_kf {
    0% {
        transform: translateY(0vw);
    }
    5% {
        transform: translateY(0vw);
    }
    30% {
        transform: translateY(0vw);
    }
    75% {
        transform: translateY(-2vw);
    }
    100% {
        transform: translateY(0vw);
    }
}

.mand_move_in {
    animation-name: mand_move_in_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes mand_move_in_kf {
    0% {
        transform: translate(76vw, 31vw);
    }

    100% {
        transform: translate(68vw, 35vw) scale(1.09);
    }

}

.munchie_moves_in {
    animation-name: munchie_moves_in_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes munchie_moves_in_kf {
    0% {
        transform: translate(0vw, 35vw);
    }
    100% {
        transform: translate(15vw, 40vw) scale(1.09);
    }

}

.mand_position_start {

    transform: translate(76vw, 31vw);
}

.mand_position_in {
    transform: translate(68vw, 35vw) scale(1.09);
}


/*MAND*/

.mand_walkcycle {
    animation-name: mand_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes mand_walkcycle_kf {
    0% {
        background-position: 0 -100%;
    }
    100% {
        background-position: -800% -100%;
    }
}

.mand_puster {
    animation-name: mand_puster_kf;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;

}

@keyframes mand_puster_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }

}

.mand_flexer2 {
    animation-name: mand_flexer2_kf;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;


}

@keyframes mand_flexer2_kf {
    0% {
        background-position: 0 -600%;
    }
    100% {
        background-position: -200% 0;
    }

}
.mand_flexer {
    animation-name: mand_flexer_kf;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;


}

@keyframes mand_flexer_kf {
    0% {
        background-position: 0 -600%;
        transform: scalex(-1);
    }
    100% {
        background-position: -200% 0;
        transform: scalex(-1);
    }

}

.mand_gaber {
    animation-name: mand_gaber_kf;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;


}

@keyframes mand_gaber_kf {
    0% {
        background-position: 0 -200%;
    }
    100% {
        background-position: -200% -200%;
    }

}

/*MUNCHIE*/

.munchie_walkcycle {
    animation-name: munchie_walkcycle_kf;
    animation-duration: 1.5s;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;

}

@keyframes munchie_walkcycle_kf {
    0% {
        background-position: 0 -100%;
    }
    100% {
        background-position: -800% -100%;
    }
}

.munchie_position_start {
    transform: translate(0vw, 35vw);

}

.munchie_position_in {
    left: 15vw;
    top: 40vw;
    transform: scale(1.09);
}

.munchie_position_slut {
    transform: translate(15.2vw, 32.5vw);
}
.munchie_position_snige {
    transform: translate(47.2vw, 37.5vw);
}

.munchie_gaber {
    animation-name: munchie_gaber_kf;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;


}

@keyframes munchie_gaber_kf {
    0% {
        background-position: 0 -200%;
    }
    100% {
        background-position: -200% -200%;
    }

}

.munchie_blinker {
    animation-name: munchie_blinker_kf;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;


}

@keyframes munchie_blinker_kf {
    0% {
        background-position: 0 -300%;
    }
    100% {
        background-position: -200% -300%;
    }

}

.munchie-snige_walkcycle {
    animation-name: munchie-snige_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes munchie-snige_walkcycle_kf {
    0% {
        background-position: 0 -400%;
    }
    100% {
        background-position: -400% -400%;
    }
}

.munchie_snige_in {
    animation-name: munchie_snige_in_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes munchie_snige_in_kf {
    0% {
        transform: translate(15vw, 40vw);
    }
    100% {
        transform: translate(47.2vw, 37.5vw);
    }
}

.munchie_snige_out {
    animation-name: munchie_snige_out_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes munchie_snige_out_kf {
    0% {
        transform: translate(47vw, 38vw) scaleX(-1);
    }
    100% {
        transform: translate(14vw, 31vw) scaleX(-1);
    }
}

/*KYLLING*/

.chicken_position_start {
    right: 35vw;
    bottom: 12vw;

}

.chicken_walkcycle {
    animation-name: chicken_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes chicken_walkcycle_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -800% 0;
    }
}

.chicken_spiser {
    animation-name: chicken_spiser_kf;
    animation-duration: 1s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;


}

@keyframes chicken_spiser_kf {
    0% {
        background-position: 0 -200%;
    }

    100% {
        background-position: -300% -200%;
    }

}

.madkurv_tag {
    animation-name: madkurv_tag_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes madkurv_tag_kf {
    0% {
        transform: translate(-9.5vw, -2vw);
    }
    100% {
      transform: translate(-43vw, -9vw);
    }
}

.madkurv_position_up {
    transform: translate(0vw, -2vw);

}

.madkurv_position_in {
   transform: translate(-30vw, -6vw);
}
